.success-wrapper, .cancel-wrapper{
   background-color: white;
   min-height: 60vh;
}

.success, .cancel{
   width: 1000px;
   margin: auto;
   margin-top: 160px;
   background-color: #dcdcdc;
   padding: 50px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
  
.success .icon {
   color: green;
   font-size: 40px;
}
 
.success h2{
   text-transform: capitalize;
   margin-top: 15px 0px;
   font-weight: 900;
   font-size: 40px;
   color:#324d67;
}

.success .email-msg{
   font-size: 16px;
   font-weight: 600;
   text-align: center;
}

.success .description{
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   margin: 10px;
   margin-top: 30px;
}

.success .description .email{
   margin-left: 5px;
   color: #f02d34;
}

@media screen and (max-width:800px) {
  .success-wrapper, .cancel-wrapper{
    min-height: 69vh;
  }
  .success, .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }
  .success{
    height: 350px;
  }
  .success h2{
    font-size: 17px;
  }
  .btn-container{
    width: 300px;
    margin: auto;
  }
}